In [1]:
import pandas as pd

movies = pd.read_csv('top_1000_popular_movies_tmdb.csv', lineterminator='\n', index_col = 0)

In [2]:
movies.head()

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,385687,Fast X,2023-05-17,"['Action', 'Crime', 'Thriller']",English,7.4,1347,8363.473,Over many missions and against impossible odds...,340000000,"['Universal Pictures', 'Original Film', 'One R...",652000000,142,The end of the road begins.
1,603692,John Wick: Chapter 4,2023-03-22,"['Action', 'Thriller', 'Crime']",English,7.9,2896,4210.313,"With the price on his head ever increasing, Jo...",90000000,"['Thunder Road', '87Eleven', 'Summit Entertain...",431769198,170,"No way back, one way out."
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Family', 'Adventure', 'Fantasy'...",English,7.8,4628,3394.458,"While working underground to fix a water main,...",100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1308766975,92,NaN
3,569094,Spider-Man: Across the Spider-Verse,2023-05-31,"['Action', 'Adventure', 'Animation', 'Science ...",English,8.8,1160,2859.047,"After reuniting with Gwen Stacy, Brooklyn’s fu...",100000000,"['Columbia Pictures', 'Sony Pictures Animation...",313522201,140,It's how you wear the mask that matters
4,536437,Hypnotic,2023-05-11,"['Mystery', 'Thriller', 'Science Fiction']",English,6.5,154,2654.854,A detective becomes entangled in a mystery inv...,70000000,"['Studio 8', 'Solstice Productions', 'Ingeniou...",0,94,Control is an illusion.

In [3]:
movies.isnull().sum()

id                         0
title                      0
release_date              23
genres                     0
original_language          0
vote_average               0
vote_count                 0
popularity                 0
overview                  76
budget                     0
production_companies       0
revenue                    0
runtime                    0
tagline                 2617
dtype: int64

In [4]:
movies = movies.dropna().reset_index(drop=True)

In [5]:
movies.isnull().sum()

id                      0
title                   0
release_date            0
genres                  0
original_language       0
vote_average            0
vote_count              0
popularity              0
overview                0
budget                  0
production_companies    0
revenue                 0
runtime                 0
tagline                 0
dtype: int64

In [6]:
movies.shape

(7381, 14)

In [7]:
movies = movies[['id', 'title', 'genres', 'overview', 'tagline']]

In [8]:
movies.head()

,id,title,genres,overview,tagline
0,385687,Fast X,"['Action', 'Crime', 'Thriller']",Over many missions and against impossible odds...,The end of the road begins.
1,603692,John Wick: Chapter 4,"['Action', 'Thriller', 'Crime']","With the price on his head ever increasing, Jo...","No way back, one way out."
2,569094,Spider-Man: Across the Spider-Verse,"['Action', 'Adventure', 'Animation', 'Science ...","After reuniting with Gwen Stacy, Brooklyn’s fu...",It's how you wear the mask that matters
3,536437,Hypnotic,"['Mystery', 'Thriller', 'Science Fiction']",A detective becomes entangled in a mystery inv...,Control is an illusion.
4,667538,Transformers: Rise of the Beasts,"['Action', 'Adventure', 'Science Fiction']",When a new threat capable of destroying the en...,Unite or fall.

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7381 non-null   int64
 1   title     7381 non-null   object
 2   genres    7381 non-null   object
 3   overview  7381 non-null   object
 4   tagline   7381 non-null   object
dtypes: int64(1), object(4)
memory usage: 288.4+ KB

In [10]:
import ast

movies['genres'] = movies['genres'].apply(ast.literal_eval)

In [11]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "") for i in x])

In [12]:
movies['overview'][0]

"Over many missions and against impossible odds, Dom Toretto and his family have outsmarted, out-nerved and outdriven every foe in their path. Now, they confront the most lethal opponent they've ever faced: A terrifying threat emerging from the shadows of the past who's fueled by blood revenge, and who is determined to shatter this family and destroy everything—and everyone—that Dom loves, forever."

In [13]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [14]:
movies['tagline'] = movies['tagline'].apply(lambda x:x.split())

In [15]:
movies.head()

,id,title,genres,overview,tagline
0,385687,Fast X,"[Action, Crime, Thriller]","[Over, many, missions, and, against, impossibl...","[The, end, of, the, road, begins.]"
1,603692,John Wick: Chapter 4,"[Action, Thriller, Crime]","[With, the, price, on, his, head, ever, increa...","[No, way, back,, one, way, out.]"
2,569094,Spider-Man: Across the Spider-Verse,"[Action, Adventure, Animation, ScienceFiction]","[After, reuniting, with, Gwen, Stacy,, Brookly...","[It's, how, you, wear, the, mask, that, matters]"
3,536437,Hypnotic,"[Mystery, Thriller, ScienceFiction]","[A, detective, becomes, entangled, in, a, myst...","[Control, is, an, illusion.]"
4,667538,Transformers: Rise of the Beasts,"[Action, Adventure, ScienceFiction]","[When, a, new, threat, capable, of, destroying...","[Unite, or, fall.]"

In [16]:
movies['tags'] = movies['overview'] + movies['tagline'] + movies['genres']

In [17]:
movies.head()

,id,title,genres,overview,tagline,tags
0,385687,Fast X,"[Action, Crime, Thriller]","[Over, many, missions, and, against, impossibl...","[The, end, of, the, road, begins.]","[Over, many, missions, and, against, impossibl..."
1,603692,John Wick: Chapter 4,"[Action, Thriller, Crime]","[With, the, price, on, his, head, ever, increa...","[No, way, back,, one, way, out.]","[With, the, price, on, his, head, ever, increa..."
2,569094,Spider-Man: Across the Spider-Verse,"[Action, Adventure, Animation, ScienceFiction]","[After, reuniting, with, Gwen, Stacy,, Brookly...","[It's, how, you, wear, the, mask, that, matters]","[After, reuniting, with, Gwen, Stacy,, Brookly..."
3,536437,Hypnotic,"[Mystery, Thriller, ScienceFiction]","[A, detective, becomes, entangled, in, a, myst...","[Control, is, an, illusion.]","[A, detective, becomes, entangled, in, a, myst..."
4,667538,Transformers: Rise of the Beasts,"[Action, Adventure, ScienceFiction]","[When, a, new, threat, capable, of, destroying...","[Unite, or, fall.]","[When, a, new, threat, capable, of, destroying..."

In [18]:
new_df = movies[['id', 'title', 'tags']]

In [21]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\MS1\AppData\Local\Temp\ipykernel_2040\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [22]:
new_df.head()

,id,title,tags
0,385687,Fast X,Over many missions and against impossible odds...
1,603692,John Wick: Chapter 4,"With the price on his head ever increasing, Jo..."
2,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu..."
3,536437,Hypnotic,A detective becomes entangled in a mystery inv...
4,667538,Transformers: Rise of the Beasts,When a new threat capable of destroying the en...

In [24]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\MS1\AppData\Local\Temp\ipykernel_2040\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [26]:
new_df.head()

,id,title,tags
0,385687,Fast X,over many missions and against impossible odds...
1,603692,John Wick: Chapter 4,"with the price on his head ever increasing, jo..."
2,569094,Spider-Man: Across the Spider-Verse,"after reuniting with gwen stacy, brooklyn’s fu..."
3,536437,Hypnotic,a detective becomes entangled in a mystery inv...
4,667538,Transformers: Rise of the Beasts,when a new threat capable of destroying the en...

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 7000, stop_words = 'english')

In [28]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [29]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [30]:
len(cv.get_feature_names_out())

7000

In [31]:
!pip install nltk
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

Requirement already satisfied: nltk in c:\users\ms1\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\ms1\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\ms1\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ms1\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\ms1\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\ms1\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [33]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\MS1\AppData\Local\Temp\ipykernel_2040\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [34]:
new_df.head()

,id,title,tags
0,385687,Fast X,"over mani mission and against imposs odds, dom..."
1,603692,John Wick: Chapter 4,"with the price on hi head ever increasing, joh..."
2,569094,Spider-Man: Across the Spider-Verse,"after reunit with gwen stacy, brooklyn’ full-t..."
3,536437,Hypnotic,a detect becom entangl in a mysteri involv hi ...
4,667538,Transformers: Rise of the Beasts,when a new threat capabl of destroy the entir ...

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.11447276, 0.07271792, ..., 0.07749843, 0.06448259,
        0.        ],
       [0.11447276, 1.        , 0.0513327 , ..., 0.0410305 , 0.        ,
        0.        ],
       [0.07271792, 0.0513327 , 1.        , ..., 0.0695048 , 0.        ,
        0.01857594],
       ...,
       [0.07749843, 0.0410305 , 0.0695048 , ..., 1.        , 0.04622502,
        0.08908708],
       [0.06448259, 0.        , 0.        , ..., 0.04622502, 1.        ,
        0.        ],
       [0.        , 0.        , 0.01857594, ..., 0.08908708, 0.        ,
        1.        ]])

In [37]:
new_df.head(10)

,id,title,tags
0,385687,Fast X,"over mani mission and against imposs odds, dom..."
1,603692,John Wick: Chapter 4,"with the price on hi head ever increasing, joh..."
2,569094,Spider-Man: Across the Spider-Verse,"after reunit with gwen stacy, brooklyn’ full-t..."
3,536437,Hypnotic,a detect becom entangl in a mysteri involv hi ...
4,667538,Transformers: Rise of the Beasts,when a new threat capabl of destroy the entir ...
5,890771,The Black Demon,oilman paul sturges' idyl famili vacat turn in...
6,447277,The Little Mermaid,"the youngest of king triton’ daughters, and th..."
7,76600,Avatar: The Way of Water,set more than a decad after the event of the f...
8,713704,Evil Dead Rise,three sibl find an ancient vinyl that give bir...
9,1018494,Operation Seawolf,"dure the last day of world war ii, germany, de..."

In [41]:
new_df[new_df['title'] == 'Sinister 2'].index

          id       title                                               tags
3551  283445  Sinister 2  a young mother and her twin son move into a ru...

In [44]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]

    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [46]:
recommend('Fast X')

The Fate of the Furious
Furious 7
Hereditary
Fast & Furious
Fast Five

In [47]:
import pickle

In [48]:
pickle.dump(new_df, open('movie.pkl', 'wb'))

In [50]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))